.container{
  top: 100px;
  position: relative;
  max-width: calc(300px * 3 + 60px);
  height: calc(300px * 3 + 60px);
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  background: rgb(161, 104, 104);
}
.my{
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  color: rgb(4, 14, 58);
}