*{
  font-family: "Comic", sans-serif;
}

body, html{
  max-width: calc(300px * 4 + 80px);
  margin: auto;
  
  // @include media-full {
  //   max-width: calc(300px * 3 + 60px);
  // }
  // @include media-tablet {
  //   max-width: calc(300px * 2 + 40px);
  // }
  // @include media-mobile {
  //   max-width: calc(300px + 20px);
  // }
}

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #44c875;
}
.rot{
  width: 50%;
  object-fit: cover;
  &_h1{
    margin: 20px;
  }
}

.container{
  max-width: calc(300px * 4 + 80px);
  max-height: calc(320px * 2 + 40px);
  height: calc(100vw - 520px);
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  background: #44c875;
  @include media-full {
    // max-width: calc(300px * 3 + 60px);
    max-height: calc(320px * 3 + 60px);
    height: calc(100vw + 20px);
  }
  @include media-tablet {
   // max-width: calc(300px * 2 + 40px);
    max-height: calc(320px * 4 + 80px);
    height: calc(100vw + 500px);
  }
  @include media-mobile {
    //max-width: calc(300px + 20px);
    max-height: calc(320px * 8 + 160px);
    height: calc(100vw + 2400px);
  }
  & a{
    width: calc((100% - 80px) / 4);
    height: calc((100% - 40px) / 2);
    margin-bottom: 10px;
    margin-top: 10px;
    @include media-full {
      width: calc((100% - 60px) / 3);
      height: calc((100% - 60px) / 3);
    }
    @include media-tablet {
      width: calc((100% - 40px) / 2);
      height: calc((100% - 80px) / 4);
    }
    @include media-mobile {
      width: calc(100% - 20px);
      height: calc((100% - 160px) / 8);
    }
  }
}