@import "~normalize.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);
a {
  color: #222222;
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100vw;
  height: 20%;
  background-color: #1f2822;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.75rem;
  height: 20%;
  background-color: #1f2822;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: width;
  will-change: height;
  z-index: 99;
}
.nav.is-active {
  height: 100%;
  width: 60%;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 30px;
  right: 1rem;
  margin-top: -10px;
  padding: 8px 0;
  transition: 0.2s ease-in-out;
  z-index: 10;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #9ac6ac;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.nav__trigger .bars:before, .nav__trigger .bars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  transform: translateY(-8px);
}
.nav__trigger .bars:after {
  transform: translateY(8px);
}
.nav__trigger.is-active {
  transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
  transform: translateX(0) rotate(-90deg);
}

.nav__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 3.75rem 1rem 2.75rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: 0s linear 0.25s;
}
.nav__content.is-active {
  visibility: visible;
  opacity: 1;
  transition: 0s linear;
}
.nav__content.is-active .nav__item a {
  opacity: 1;
  transform: translateY(0);
  transition-property: transform, opacity, color;
  transition-duration: 0.55s, 0.55s, 0.3s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
  transition-delay: 0s, 0s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
  transition-delay: 0.05s, 0.05s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
  transition-delay: 0.1s, 0.1s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
  transition-delay: 0.15s, 0.15s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
  transition-delay: 0.2s, 0.2s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
  transition-delay: 0.25s, 0.25s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
  transition-delay: 0.3s, 0.3s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
  transition-delay: 0.35s, 0.35s, 0s;
}
.nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
  transition-delay: 0.4s, 0.4s, 0s;
}

.nav__list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.nav__item {
  overflow: hidden;
}
.nav__item a {
  display: inline-block;
  color: #9ac6ac;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform, opacity;
}
.nav__item a:hover {
  color: white;
}

body {
  --text-before: #fff;
  --text-after: #749ED7;
  --face-before: #AEB8D1;
  --face-after: #679DFF;
  --face-details-before: #5B6F8F;
  --face-details-after: rgba(0,33,71,1);
  --tongue: red;
}

.toggle-wrapper {
  position: relative;
  top: 50%;
  left: 85%;
  height: 90px;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);
}
.toggle-wrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: white;
  border-radius: 84px;
  font-size: 18px;
}

.toggle-handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 4px;
  left: 4px;
  width: 42px;
  height: 42px;
  background-color: var(--face-before);
  border-radius: 50px;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.face {
  position: absolute;
  background-color: var(--face-details-before);
  opacity: 1;
  transition-delay: 200ms;
  transform: rotate(45deg);
}

.eye-left {
  top: 8px;
  left: 16px;
  z-index: 0;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.eye-right {
  top: 19px;
  left: 27px;
  z-index: 0;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.nose {
  transition-delay: 200ms;
  position: absolute;
  width: 0;
  height: 0;
  left: 12px;
  top: 20px;
  border-radius: 50%;
  transform: rotate(45deg);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--face-details-before);
}

.mouth1 {
  top: 24px;
  left: 14px;
  z-index: 0;
  width: 2px;
  height: 6px;
}

.mouth2 {
  top: 28px;
  left: 6px;
  border-radius: 25%;
  z-index: 0;
  width: 14px;
  height: 2px;
}

.face2 {
  transition-delay: 200ms;
  opacity: 0;
}

.mouth-smile {
  position: absolute;
  left: 12px;
  top: 21px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%) rotate(45deg);
  width: 11px;
  height: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--face-details-after);
  border-top: 0;
  box-sizing: border-box;
}

.mouth-smile2 {
  position: absolute;
  left: 18px;
  top: 27px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%) rotate(45deg);
  width: 11px;
  height: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--face-details-after);
  border-top: 0;
  box-sizing: border-box;
}

.left-ear {
  transition-delay: 200ms;
  position: absolute;
  top: -10px;
  left: 10px;
  width: 5px;
  height: 10px;
  border-top: 7px solid var(--face-before);
  border-right: 8px solid var(--face-before);
  border-radius: 15% 20%;
}

.right-ear {
  transition-delay: 200ms;
  position: absolute;
  top: 19px;
  left: 27px;
  width: 5px;
  height: 10px;
  border-top: 7px solid var(--face-before);
  border-left: 8px solid var(--face-before);
  border-radius: 20% 15%;
  transform: rotate(80deg);
}

.tongue {
  opacity: 0;
  transition-delay: 200ms;
  width: 7px;
  height: 7px;
  background-color: var(--tongue);
  position: absolute;
  bottom: -28px;
  left: -4px;
  transform: rotate(145deg);
  border-radius: 50% 50% 50% 50%/80% 80% 20% 20%;
}

input:not(:checked) + .toggle:before {
  display: block;
}
input:not(:checked) + .toggle:after {
  display: none;
}

input:checked + .toggle:before {
  display: none;
}
input:checked + .toggle:after {
  display: block;
}
input:checked + .toggle .toggle-handler {
  background-color: var(--face-after);
  transform: translate3d(40px, 0, 0) rotate(-45deg);
}
input:checked + .toggle .toggle-handler .face {
  background-color: var(--face-details-after);
}
input:checked + .toggle .toggle-handler .nose {
  border-top: 8px solid var(--face-details-after);
}
input:checked + .toggle .toggle-handler .right-ear {
  border-top: 7px solid var(--face-after);
  border-left: 8px solid var(--face-after);
}
input:checked + .toggle .toggle-handler .left-ear {
  border-top: 7px solid var(--face-after);
  border-right: 8px solid var(--face-after);
}
input:checked + .toggle .toggle-handler .mouth2 {
  opacity: 0;
}
input:checked + .toggle .toggle-handler .face2,
input:checked + .toggle .toggle-handler .tongue {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
